{% extends 'home.html' %}

{% load static %}
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH='/static/ckeditor/ckeditor';</script>
{{ block.super }}
{% endblock %}

{% block content %}

{% if category %}
    <h2 style="text-align:center;color:white">{{ category_name }}</h2><br/>
    <!-- For all posts to display -->
    <ul class="list-group">
    {% for post in category %}
        <li class="list-group-item"><br/>
            <a href="{% url 'post-detail' post.pk %}" class="btn btn-outline-primary">{{post.title}}</a> - 
            {{post.author.first_name}} 
            {{post.author.last_name}} -  
            {{post.date}} 
            {% if user.is_authenticated and user.id == post.author.id %}
                - <small><a href="{% url 'edit-post' post.pk %}">Edit</a></small> - 
                <small><a href="{% url 'delete-post' post.pk %}">Delete</a></small><br/><br>
            {% else %}
                <br/><br>
            {% endif %}  
            {% if post.snippet == "web development" or post.snippet == null %}
                {{post.body|slice:"452" | safe}}
                {% if post.body|slice:"452:453" %} 
                    <a style="font-size:13px" href="{% url 'post-detail' post.pk %}">Read more...</a>
                {% endif %}
            {% else %}
                {{post.snippet | safe}}
            {% endif %}
            <br/><br/>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <br/><br/><br/><h1 style="text-align:center;color:white">Sorry no posts yet...</h1>    
{% endif %}
<br/><br/><br/><br/>
    
{% endblock %}