{% extends 'home.html' %}

{% block title %} Delete post {% endblock %}

{% block content %}

{% if user.is_authenticated and user.id == post.author.id %} 
    <h2 style="text-align:center;color:white">Delete Blog Post</h2><br><br>

    <div class="list-group-item" style="border-radius:.25rem">
        <h3>Delete : {{post.title}}</h3><br>

        <p>Are you sure?</p>

        <form method="POST">
            {% csrf_token %}
            
            <button href="{% url 'delete-post' post.pk%}" class="btn btn-outline-primary">Delete Post</button>
            
        </form><br>
    </div>
{% else %}
    <br><br>
    <h1 style="color:white;text-align:center">You're not allowed to delete this post!!!</h1>
{% endif %}


{% endblock %}