{% extends 'home.html' %}

{% block title %} Edit Credentials {% endblock %}

{% block content %}
<br>
<h2 style="text-align:center;color:white">Edit Credentials</h2><br>

<div class="container" style="width:440px;background-color: white;border-radius:.25REM;"><br>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th><label for="id_username">Username:</label></th>
                <td><input type="text" name="username" value="admin" class="form-control" maxlength="100" required id="id_username"></td>
            </tr>
            <tr>
                <th><br></th>
            </tr>
            <tr>
                <th><label for="id_first_name">First name:</label></th>
                <td><input type="text" name="first_name" value="Ravi Kiran" class="form-control" maxlength="100" required id="id_first_name"></td>
            </tr>
            <tr>
                <th><br></th>
            </tr>
            <tr>
                <th><label for="id_last_name">Last name:</label></th>
                <td><input type="text" name="last_name" value="Ch" class="form-control" maxlength="100" required id="id_last_name"></td>
            </tr>
            <tr>
                <th><br></th>
            </tr>
            <tr>
                <th><label for="id_email">Email:</label></th>
                <td><input type="email" name="email" class="form-control" required id="id_email"></td>
            </tr>
            <tr>
                <th><br></th>
            </tr>
            <tr>
                <th><label>Change Password:</label>&emsp;&emsp;</th>
                <td>Click <a href="{% url 'password' %}">here</a></td>
            </tr>
        </table><br>
    </form>
    <div style="text-align:center">
        <button href="{% url 'allposts' %}" class="btn btn-primary">Update Profile</button>
    </div>
    <br><br>
</div>
<br><br><br>
{% endblock %}